body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, 
    rgba(237, 221, 83, 1) 100%);  
}

#calculator {
     font-family: Arial, sans-serif;
     background: #1e1e1e;
     border-radius: 20px;
     max-width: 400px;
     height: 600px;
     overflow: hidden;
     border: 2px solid #000;
     border: none;
     display: flex;
     flex-direction: column;
     box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,5);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex-grow: 1;
    gap: 10px;
    padding: 20px;
}

#keys button {
    width: 100%;
    height: 100%;
}

button {
    position: relative;
    border-radius: 40px;
    border: none;
    background: linear-gradient(145deg, #3a3a3a, #2e2e2e);
    color: hsl(0, 5%, 92%);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(145deg, #4a4a4a, #3b3b3b);
}

button:active {
    background: linear-gradient(145deg, #2e2e2e, #1f1f1f);
    transform: translateY(2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

#eq-btn {
    grid-row: span 2;
}

/* make buttons flash red */
.flash-red {
    animation : flash 0.3s 3;
}

@keyframes flash {
    0%, 100% {
        background: linear-gradient(145deg, #3a3a3a, #2e2e2e); /* original gradient */
    }
    50% {
        background: linear-gradient(145deg, #ff4c4c, #ff1a1a); /* red gradient flash */
    }
}

.fall {
    position: relative;
    transition: transform 1s, opacity 1s;
}

.fall-off {
    transform: translateY(500px) rotate(720deg);
    opacity: 0;
    transition: transform 1s ease-in, opacity 1s ease-in;
}

/* Undefined Effect */
.undefined {
    color: #fff;
    background: linear-gradient(145deg, #ff4c4c, #ff1a1a);
    font-weight: bold;
    text-shadow: 0 0 5px white;
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}